h2{
    color: aqua;
        }

        .menu{
            display: inline-blok /* deixa loado a lado */;
            padding: 10px 20px;/* */
            background-color: deeppink;
            text-align: center;
            font-size:center;
            font-size:16px;
            border-radius: 5px; /*  Borda arredondada */
            border:none;


        }
        .menu:houver{
            background-color: aliceblue;
        }
